* { box-sizing: border-box; }

body {
  margin: 0;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background: #111;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 16px 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

#intro {
background-image: url(images/background01.jpg);
background-repeat: round;
}
#about{
background-color: #FFE4C4;
}
#contact{
background-color: #EFDECD;
}