body {
  padding-top: 60px;
}
*{
padding: 0;
margin: 0;
}

header{
height: 45px;
}
header nav ul{
display: flex;
margin-left: 70%;
list-style: none;
}

header nav ul li{
padding-left: 10%;
}

header a{
text-decoration: none;
color: brown;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background: #111;
  padding: 10px 0;
}

.navbar a {
  color: gray;
  text-decoration: none;
  padding: 16px 20px;
}

.navbar a:hover {
  background: gray;
  color: black;
}

.center-text {
	text-align: center;
}

.container {
	max-width:1000px;
	margin: 0 auto;
	padding: 20px;
	border: 0px solid black
}
.container img{
height: 300px;
border-radius: 50%;
}
.container h2{
margin-top: 2%;
font-size: 3em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container p, ul{
margin-top: 2%;
font-size: 1.5rem;
}

.content-wrapper {
	background-color: white;
	width: 50%;
	margin: 0 auto;
	margin-top: 2%;
	padding: 60px;
	box-shadow:0 0 10px rgba(25, 31, 52, 0.6);
}

h1 {
	margin-bottom: 35px;
}

header{
height: 45px;
}
header nav ul{
display: flex;
margin-left: 70%;
list-style: none;
}

header nav ul li{
padding-left: 10%;
}

header a{
text-decoration: none;
color: brown;
}

section{
height: 100vh;
border: 0px solid grey;
display: flex;
justify-content: center;
align-items: center;
}


footer {
line-height: 40px;
display: flex;
justify-content: center;
font-size: 1rem;
}

p {
	margin-bottom: 25px;
}

.top-text {
	margin-top: 0;
	padding-top: 0;
	vertical-align: top;
}

#stalkingdef{
background-image: url(images/background06.jpg);
background-repeat: repeat;
}
#whoisstalked{
background-color: #FFE4C4;
}
#contact{
background-color: #EFDECD;
}