body { 
padding-top: 120px; 
background-image: url(images/background07.jpg); 
/*#FFE4C4;*/ 
}
*{
padding: 0;
margin: 0;
}

header{
height: auto;
}

header a{
text-decoration: none;
color: brown;
}

html {
	scroll-behavior: smooth;
}
.site-name {
    font-size: 40px;
    color: #f6f4f2;
    text-shadow: -0.03em -0.03em #000;
    font-family: Helvetica;
    font-weight: normal;
    padding: 40px 0 0 30px;
    height: 16px;
}   
.navbar {
  position: fixed;
  /*top: 0;*/
  text-align: center;
  width: 65%;
  display: flex;
  background: #111;
  padding: 10px 0;
}

.navbar a {
  color: gray;
  text-decoration: none;
  padding: 16px 20px;
}

.navbar a:hover {
  background: white;
  color: black;
}

.center-text {
	text-align: center;
}

.container {
	display: flex;
	gap: 40px;
}
.column {
	flex: 1;
	min-width: auto;
}

.container img{
height: 300px;
border-radius: 50%;
}
.container h2{
margin-top: 2%;
font-size: 3em;
font-family: "Times New Roman", Times, serif;
/*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}
.container p, ul{
margin-top: 2%;
font-size: 1.5rem;
}

.content-wrapper {
	background-color: #FAFAFA;
	width: 65%;
	min-height: 100vh;
	margin: 0 auto;
	margin-top: 0%;
	padding: 120px;
	box-shadow:0 0 10px rgba(25, 31, 52, 0.6);
}

h1 {
	margin-bottom: 35px;
	font-family:"Times New Roman", Times, serif;
}

ul {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}

section{
height: 100vh;
border: 0px solid grey;
display: flex;
justify-content: center;
align-items: center;
}

footer {
line-height: 40px;
display: flex;
justify-content: center;
font-size: 1rem;
}

p {
	margin-bottom: 25px;
	font-family: "Times New Roman", Times, serif;
}

.top-text {
	margin-top: 0;
	padding-top: 0;
	vertical-align: top;
}