*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body { 
padding-top: 0px; 
background-image: url(images/background07.jpg); 

}

header{
height: auto;
}

header a{
text-decoration: none;
color: brown;
}

html {
	scroll-behavior: smooth;
}
.site-name {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    color: #f6f4f2;
    text-shadow: -0.03em -0.03em #000;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    padding: 20px;
    background-image: url(images/background08.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

.content-wrapper {
	background-color: #FAFAFA;
	width: 80%;
	min-height: calc(100vh - 120px);
	padding: 60px;
	box-shadow:0 0 10px rgba(25, 31, 52, 0.6);
	margin: 0 auto;
	box-sizing: border-box;
}
  
.navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #111;
  margin: 0 auto;
  padding: 0px;
  color: white;
  box-sizing: border-box;
  height: 60px;
}
.navbar a {
  color: gray;
  text-decoration: none;
  padding: 16px 20px;
}
.navbar a:hover {
  background: white;
  color: black;
}

.center-text {
	text-align: center;
}

.container {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.column {
	flex: 1;
	min-width: auto;
	border: 2px solid #333;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #FEFFEC!important;
}

.container img{
height: 300px;
border-radius: 50%;
}
.container h2{
margin-top: 2%;
font-size: 3em;
font-family: "Times New Roman", Times, serif;
/*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}
.container p, ul{
margin-top: 2%;
font-size: 1.5rem;
}

h1 {
	margin-bottom: 35px;
	font-family:"Times New Roman", Times, serif;
}

ul {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
}

section{
height: 100vh;
border: 0px solid grey;
display: flex;
justify-content: center;
align-items: center;
}

footer {
line-height: 40px;
display: flex;
justify-content: center;
font-size: 1rem;
}

p, ul {
	font-size: 16px;
	margin-bottom: 25px;
	font-family: "Times New Roman", Times, serif;
}

.top-text {
	margin-top: 0;
	padding-top: 0;
	vertical-align: top;
}
.box {
	border: 2px solid #333;
	padding: 20px;
	margin-bottom: 20px;
	max-width: 500px;
	background-color: #FEFFEC!important;
}


